@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { 
  overflow-y: scroll; 
  scroll-behavior: smooth;
}

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

p { 
  margin: 4px 0;
  color: #A2AABA;
  font-size: 9px; 
  line-height: 1.6;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 59.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  position: absolute;
  z-index: 1;
}

header .wrapper { 
  width: 100%; 
  position: relative;
}

.lines { display: block; }

nav {
  width: 22px;
  height: 11px;
  margin: 14px 0 14px 3%;
  float: left;
}

.lines span {
  width: 100%;
  height: 2px;
  border-radius: 20%;
  margin-bottom: 2px;
  display: block;
  background-color: #fff;
  text-indent: -9999px;
} 

nav ul {
  width: 100%;
  display: none;
  position: absolute;
  top: 26px;
  right: 0;
  left: 0;
}

nav li {
  width: 100%;
  padding: 16px 0;
  border: 1px solid #fff;
  background-color: #4f4f4f;
  text-align: center;
}

nav a {
  color: #fff;
  text-transform: capitalize;
}

nav:hover ul {
  display: block;
  -webkit-animation-name: example;
  animation-name: example;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

nav:hover .one { 
  -webkit-transform: translateY(0px) rotate(-45deg); 
  -ms-transform: translateY(0px) rotate(-45deg); 
  transform: translateY(0px) rotate(-45deg); 
  -webkit-transition: all .5s ease-out; 
  -o-transition: all .5s ease-out; 
  transition: all .5s ease-out;
}

nav:hover .three { 
  -webkit-transform: translateY(-8px) rotate(45deg); 
  -ms-transform: translateY(-8px) rotate(45deg); 
  transform: translateY(-8px) rotate(45deg); 
  -webkit-transition: all .5s ease-out; 
  -o-transition: all .5s ease-out; 
  transition: all .5s ease-out;
}

nav:hover .two { 
  -webkit-transform: scale(0); 
  -ms-transform: scale(0); 
  transform: scale(0); }

.our-team img,
.search img { border-radius: 50%; }

.search { 
  width: 2.5%;
  border-radius: 50%;
  margin-right: 3%;
  float: right;
}

nav a:hover { 
  color: #5DAEA5; 
  -webkit-transition: all .5s ease-out; 
  -o-transition: all .5s ease-out; 
  transition: all .5s ease-out;
}

.search:hover { 
  opacity: .5; 
  -webkit-transition: all .5s ease-out; 
  -o-transition: all .5s ease-out; 
  transition: all .5s ease-out;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*banner section styling start*/
.banner .wrapper { 
  width: 100%; 
  position: relative;
}

.banner-slider li { display: none; }
.banner-slider li:first-child { display: block; }

.indicate {
  position: absolute;
  right: 12.6%;
  bottom: 91px;
}

.indicate a::before {
  content: "\f10c";
  float: right;
  color: #FFF;
  font-family: FontAwesome;
  font-size: 10px;
  text-indent: 0px;
}

.indicate a:hover::before { 
  content: "\f111";
  color: #5DAEA5;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.indicate li { display: block; }
.indicate a { text-indent: -9999px; }

.banner-info {
  position: absolute;
  top: 175px;
  left: 25%;
  text-align: center;
}

.active-slide a::before {   
  content: "\f111";
  color: #5DAEA5;
}

h1 {
  color: #fff;
  font-size: 59px;
  font-style: italic;
  font-weight: 600;
}

.configure { 
  padding: 6px 3.5%;
  margin-top: 5px;
  border-radius: 13px;
  background-color: #5DAEA5;
  color: #fff;  
  font-size: 12px;
}

.configure::before {
  content: '\f013';
  padding-right: 6px;
  font-family: FontAwesome;
}

.configure:hover {
  background-color: #fff; 
  color: #71b9b4;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
/*banner section styling end*/

/*service section styling start*/
.service { margin: 33px 0; }

h2 {
  font-size: 27px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.service ul {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.service li { width: 39%; }
h3::first-letter { text-transform: capitalize; } 

h3 {
  color: #5DAEA5;
  font-size: 17px;
  font-style: italic;
  font-weight: 600;
}

.globe,
.menu { text-align: right; }

.globe::after,
.leaf::before,
.menu::after,
.calendar::before {
  padding: 13px;
  border: 1.5px solid #000;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: 42%;
  font-family: FontAwesome;
  font-size: 23px;
}

.menu,
.calendar { margin-top: 10px; }

.globe::after { content: '\f0ac'; }
.leaf::before { content: '\f06c'; }
.menu::after { content: '\f009'; }
.calendar::before { content: '\f073'; }

.menu::after,
.calendar::before { top: 108px; }

.leaf::before,
.calendar::before { left: 51%; }
/*service section styling end*/

/*our team section styling start*/
.our-team { padding: 32px 0; }

.our-team ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.our-team li { 
  width: 77%; 
  margin: 9px auto;
}

.our-team figure,
.team-members { 
  margin-left: 4%;
  display: inline-block; 
  vertical-align: top;
}

.team-members { 
  width: 68%; 
  text-align: left;
}

.our-team figure { width: 22%; }

h4 {
  color: #5DAEA5;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  text-transform: capitalize;
}

.team-members span {
  color: #494B4B;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
}

.our-team h2,
.gallery h2 { margin-bottom: 17px; }
/*our team section styling end*/

/*gallery section styling start*/
.gallery { margin: 29px 0; }

.gallery ul {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery li { 
  width: 33.3%; 
  background-color: #87CCC3;
  text-align: center;
}

h5 {
  margin-bottom: 10px;
  font-size: 19px;
  font-style: italic;
  font-weight: 600;
  text-transform: capitalize;
}

.gallery p { color: #fff; }
.scooty-details { padding: 75px 0; }

.scooty-details a {
  padding: 3px 6%;
  margin-top: 10px;
  border-radius: 30px;
  background-color: #fff;
  color: #71b9b4;
  font-size: 11px;
  text-transform: uppercase;
}

.scooty-details a:hover { 
  background-color: #71b9b4;
  color: #fff;
  -webkit-transition: .6s ease-out;
  -o-transition: .6s ease-out;
  transition: .6s ease-out;
}
/*gallery section styling end*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  margin-top: 5px;
  padding: 5px 0;
  background-color: #2A292B;
  text-align: center;
}

footer span {
  color: #fff;
  font-size: 10px;
}

footer a { color: #87CCC3; }

footer a:hover { 
  color: #fff; 
  -webkit-transition: all 1s ease-out; 
  -o-transition: all 1s ease-out; 
  transition: all 1s ease-out;
}
  /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  .indicate { bottom: 22px; }
  .scooty-details { padding: 50px 0; }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  p { font-size: 16px; }
  .wrapper { width: 89%; }

  .indicate a:hover::before { 
    content: "\f10c";
    color: #fff; 
  }

  .active-slide a:hover::before { 
    content: "\f111";
    color: #5DAEA5; 
  }

  .search { width: 4%; }
  .search:hover { opacity: 1; } 

  .configure:hover {
    background-color: #5DAEA5;
    color: #fff;
  }

  .scooty-details a:hover { 
    background-color: #fff;
    color: #71b9b4;
  }
  
  .banner-info {
    top: 90px;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .indicate {
    right: 47%;
    bottom: 31px;
  }
  
  .indicate li { display: inline-block; }
  .our-team li { width: 100%; }
  
  .service li { 
    width: 87%; 
    margin-left: 13%;
    text-align: left;
  }
  
  .service li::before,
  .service li::after { left: 0; }
  
  .leaf::before { top: 116px; }
  .menu::after { top: 228px; }
  .calendar::before { top: 340px; }
  .our-team li { margin: 22px auto; }
  
  .gallery p {
    width: 80%;
    margin: 0 auto;
  }

  .gallery li { 
    width: 50%;
    margin-bottom: 20px;
  }
  
  .gallery li:last-child { display: none; }
  footer a:hover { color: #87CCC3; }
}  

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  p { font-size: 10px; }
  h1 { font-size: 20px; }
  .banner-info { top: 20px; }
  .configure { padding: 2px 2%; }
  
  .indicate {
    right: 42%;
    bottom: 3px;
  }

  h2 { font-size: 22px; }

  .service li {
    width: 80%;
    margin-left: 22%;
  }  

  .our-team li { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }

  .our-team { padding: 0; }
  .our-team p { font-size: 14px; }
  .team-members span { font-size: 16px; }
  
  .team-members { 
    margin-top: 12px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; 
    text-align: center;
  }
  
  .gallery li,
  .team-members,
  .our-team figure { width: 100%; }
}